@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
a {
  text-decoration: none;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'roboto';
  color: white;
}

body {
  background-color: #121212;
}

#header {
  width: 100%;
  border-bottom: 1px solid #282828;
}

#header .headerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0px 10px 0px;
}

#header .headerWrapper .logoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .headerWrapper .logoWrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

#header .headerWrapper .logoWrapper .logo .youtubelogo {
  width: 40px;
}

#header .headerWrapper .logoWrapper .logo .youtubelogo img {
  width: 100%;
}

#header .headerWrapper .logoWrapper .logo .toutubetext h4 {
  font-family: oswald;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -1px;
}

#header .headerWrapper .logoWrapper .logo .toutubetext h4 sup {
  font-size: 12px;
  font-weight: 300;
  color: #aeaeae;
}

#header .headerWrapper .logoWrapper .bar {
  width: 60px;
  padding: 9px;
  text-align: center;
}

#header .headerWrapper .logoWrapper .bar i {
  font-size: 18px;
  cursor: pointer;
}

.search .searchWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .searchWrapper .searchInput input {
  width: 320px;
  border: 1px solid #282828;
  outline: none;
  background: transparent;
  padding: 0px 0px 0px 10px;
  font-size: 18px;
  height: 35px;
}

.search .searchWrapper .searchIcon {
  width: 70px;
  text-align: center;
  padding: 8px;
  background: #282828;
  cursor: pointer;
}

.search .searchWrapper .searchIcon:hover i {
  color: #888888;
}

.search .searchWrapper .searchIcon i {
  color: #626262;
}

.account .accountWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account .accountWrapper .bell {
  width: 60px;
  text-align: center;
  padding: 7px;
}

.account .accountWrapper .bell i {
  font-size: 20px;
  cursor: pointer;
}

.account .accountWrapper .gmail {
  width: 50px;
  text-align: center;
}

.account .accountWrapper .gmail img {
  border-radius: 100%;
}

#allVideo {
  width: 100%;
}

#allVideo .allVideosWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 50px;
}

.singleVideo {
  width: 300px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 40px;
}

.singleVideo .videoPoster img {
  -o-object-fit: cover;
     object-fit: cover;
}

.singleVideo .videoDC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.singleVideo .videoDC .videologo {
  width: 50px;
}

.singleVideo .videoDC .videologo img {
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.singleVideo .videoDC .videoTXT p {
  font-family: roboto;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.singleVideo .videoDC .videoTXT .channal {
  display: inline-block;
  margin-right: 5px;
  color: #5f5f5f;
  margin-bottom: 0px;
}

.singleVideo .videoDC .videoTXT span {
  font-family: roboto;
  font-size: 1rem;
  font-weight: 400;
  color: #5f5f5f;
}

#play-part {
  width: 100%;
  height: 100%;
  background-color: #121212;
  display: none;
}

.Videocontainer {
  position: relative;
}

.Videocontainer .controler {
  width: 700px;
  position: absolute;
  bottom: 5px;
  left: 0px;
  background: linear-gradient(359deg, #00000087, transparent);
  padding-top: 20px;
}

.Videocontainer .controler span {
  color: whitesmoke;
}

.Videocontainer .controler i {
  color: whitesmoke;
  font-size: 20px;
  margin: 0px 15px;
}

.Videocontainer .controler .progressbar {
  width: 100%;
  -webkit-appearance: none;
  background-color: rgba(255, 0, 0, 0.685);
  height: 5px;
}

.Videocontainer .controler .progressbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: red;
}

.Videocontainer video {
  max-width: 700px;
}

.Videocontainer .playMiddle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.363);
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.Videocontainer .playMiddle i {
  margin-top: 50%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 401px) and (max-width: 450px) {
  body {
    min-width: 450px;
  }
  #header {
    width: 100%;
    border-bottom: 1px solid #282828;
  }
  #header .headerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0px 10px 0px;
  }
  #header .headerWrapper .logoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header .headerWrapper .logoWrapper .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  #header .headerWrapper .logoWrapper .logo .youtubelogo {
    width: 40px;
  }
  #header .headerWrapper .logoWrapper .logo .youtubelogo img {
    width: 100%;
  }
  #header .headerWrapper .logoWrapper .logo .toutubetext h4 sup {
    font-size: 12px;
    font-weight: 300;
    color: #aeaeae;
  }
  #header .headerWrapper .logoWrapper .bar {
    width: 30px;
    padding: 9px;
  }
  #header .headerWrapper .logoWrapper .bar i {
    font-size: 18px;
    cursor: pointer;
  }
  .search .searchWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search .searchWrapper .searchInput {
    display: block;
  }
  .search .searchWrapper .searchInput input {
    width: 140px;
  }
  .search .searchWrapper .searchIcon {
    width: 35px;
    text-align: center;
    padding: 8px;
    background: #282828;
  }
  .search .searchWrapper .searchIcon:hover i {
    color: #888888;
  }
  .search .searchWrapper .searchIcon i {
    color: #626262;
  }
  .account .accountWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .account .accountWrapper .bell {
    width: 30px;
    padding: 7px;
  }
  .account .accountWrapper .bell i {
    font-size: 20px;
    cursor: pointer;
  }
  .account .accountWrapper .gmail {
    width: 40px;
    text-align: center;
  }
  .account .accountWrapper .gmail img {
    border-radius: 100%;
  }
  #allVideo {
    width: 100%;
  }
  #allVideo .allVideosWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0px;
  }
  .singleVideo {
    min-width: 400px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 40px;
  }
  .singleVideo .videoPoster img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .singleVideo .videoDC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .singleVideo .videoDC .videologo {
    width: 50px;
  }
  .singleVideo .videoDC .videologo img {
    border-radius: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .singleVideo .videoDC .videoTXT p {
    font-family: roboto;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .singleVideo .videoDC .videoTXT .channal {
    display: inline-block;
    margin-right: 5px;
    color: #5f5f5f;
    margin-bottom: 0px;
  }
  .singleVideo .videoDC .videoTXT span {
    font-family: roboto;
    font-size: 1rem;
    font-weight: 400;
    color: #5f5f5f;
  }
  #play-part {
    max-width: 100%;
  }
  #play-part .Videocontainer {
    width: 100%;
  }
  #play-part .Videocontainer video {
    max-width: 450px;
  }
  #play-part .Videocontainer .controler {
    max-width: 450px;
  }
  .backButton {
    font-size: 20px;
    padding: 6px 20px;
  }
  .playList {
    width: 100%;
    height: 435px;
    overflow: auto;
  }
  .playListsv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .playListsv .playListvp {
    width: 145px;
  }
  .playListsv .playListvp img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .playListsv .playListvd {
    margin-left: 15px;
  }
  .playListsv .playListvd .playListst .sunny {
    display: inline-block;
  }
}

@media (min-width: 351px) and (max-width: 400px) {
  body {
    max-width: 400px;
  }
  #header {
    width: 100%;
    border-bottom: 1px solid #282828;
  }
  #header .headerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px 0px 10px 0px;
  }
  #header .headerWrapper .logoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header .headerWrapper .logoWrapper .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  #header .headerWrapper .logoWrapper .logo .youtubelogo {
    width: 40px;
  }
  #header .headerWrapper .logoWrapper .logo .youtubelogo img {
    width: 100%;
  }
  #header .headerWrapper .logoWrapper .logo .toutubetext h4 sup {
    font-size: 12px;
    font-weight: 300;
    color: #aeaeae;
  }
  #header .headerWrapper .logoWrapper .bar {
    width: 30px;
    padding: 9px;
    text-align: center;
  }
  #header .headerWrapper .logoWrapper .bar i {
    font-size: 18px;
    cursor: pointer;
  }
  .search .searchWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search .searchWrapper .searchInput {
    display: none;
  }
  .search .searchWrapper .searchIcon {
    width: 35px;
    text-align: center;
    padding: 8px;
    background: #282828;
    border-radius: 100%;
  }
  .search .searchWrapper .searchIcon:hover i {
    color: #888888;
  }
  .search .searchWrapper .searchIcon i {
    color: #626262;
  }
  .account .accountWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .account .accountWrapper .bell {
    width: 30px;
    padding: 7px;
  }
  .account .accountWrapper .bell i {
    font-size: 20px;
    cursor: pointer;
  }
  .account .accountWrapper .gmail {
    width: 40px;
    text-align: center;
  }
  .account .accountWrapper .gmail img {
    border-radius: 100%;
  }
  #allVideo {
    width: 100%;
  }
  #allVideo .allVideosWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0px;
  }
  .singleVideo {
    width: 300px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 40px;
  }
  .singleVideo .videoPoster img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .singleVideo .videoDC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .singleVideo .videoDC .videologo {
    width: 50px;
  }
  .singleVideo .videoDC .videologo img {
    border-radius: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .singleVideo .videoDC .videoTXT p {
    font-family: roboto;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .singleVideo .videoDC .videoTXT .channal {
    display: inline-block;
    margin-right: 5px;
    color: #5f5f5f;
    margin-bottom: 0px;
  }
  .singleVideo .videoDC .videoTXT span {
    font-family: roboto;
    font-size: 1rem;
    font-weight: 400;
    color: #5f5f5f;
  }
  #play-part {
    max-width: 100%;
  }
  #play-part .Videocontainer {
    width: 100%;
  }
  #play-part .Videocontainer video {
    max-width: 400px;
  }
  #play-part .Videocontainer .controler {
    max-width: 400px;
  }
  .backButton {
    font-size: 20px;
    padding: 6px 20px;
  }
  .playList {
    width: 100%;
    height: 435px;
    overflow: auto;
  }
  .playListsv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .playListsv .playListvp {
    width: 145px;
  }
  .playListsv .playListvp img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .playListsv .playListvd {
    margin-left: 15px;
  }
  .playListsv .playListvd .playListst .sunny {
    display: inline-block;
  }
}

@media (min-width: 331px) and (max-width: 350px) {
  body {
    max-width: 350px;
  }
  #header {
    width: 100%;
    border-bottom: 1px solid #282828;
  }
  #header .headerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px 0px 10px 0px;
  }
  #header .headerWrapper .logoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header .headerWrapper .logoWrapper .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  #header .headerWrapper .logoWrapper .logo .youtubelogo {
    width: 40px;
  }
  #header .headerWrapper .logoWrapper .logo .youtubelogo img {
    width: 100%;
  }
  #header .headerWrapper .logoWrapper .logo .toutubetext h4 sup {
    font-size: 12px;
    font-weight: 300;
    color: #aeaeae;
  }
  #header .headerWrapper .logoWrapper .bar {
    width: 30px;
    padding: 9px;
    text-align: center;
  }
  #header .headerWrapper .logoWrapper .bar i {
    font-size: 18px;
    cursor: pointer;
  }
  .search .searchWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search .searchWrapper .searchInput {
    display: none;
  }
  .search .searchWrapper .searchIcon {
    width: 35px;
    text-align: center;
    padding: 8px;
    background: #282828;
    border-radius: 100%;
  }
  .search .searchWrapper .searchIcon:hover i {
    color: #888888;
  }
  .search .searchWrapper .searchIcon i {
    color: #626262;
  }
  .account .accountWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .account .accountWrapper .bell {
    width: 30px;
    padding: 7px;
  }
  .account .accountWrapper .bell i {
    font-size: 20px;
    cursor: pointer;
  }
  .account .accountWrapper .gmail {
    width: 40px;
    text-align: center;
  }
  .account .accountWrapper .gmail img {
    border-radius: 100%;
  }
  #allVideo {
    width: 100%;
  }
  #allVideo .allVideosWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0px;
  }
  .singleVideo {
    width: 300px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 40px;
  }
  .singleVideo .videoPoster img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .singleVideo .videoDC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .singleVideo .videoDC .videologo {
    width: 50px;
  }
  .singleVideo .videoDC .videologo img {
    border-radius: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .singleVideo .videoDC .videoTXT p {
    font-family: roboto;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .singleVideo .videoDC .videoTXT .channal {
    display: inline-block;
    margin-right: 5px;
    color: #5f5f5f;
    margin-bottom: 0px;
  }
  .singleVideo .videoDC .videoTXT span {
    font-family: roboto;
    font-size: 1rem;
    font-weight: 400;
    color: #5f5f5f;
  }
  #play-part {
    max-width: 100%;
  }
  #play-part .Videocontainer {
    width: 100%;
  }
  #play-part .Videocontainer video {
    max-width: 350px;
  }
  #play-part .Videocontainer .controler {
    max-width: 350px;
  }
  .backButton {
    font-size: 20px;
    padding: 6px 20px;
  }
  .playList {
    width: 100%;
    height: 435px;
    overflow: auto;
  }
  .playListsv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .playListsv .playListvp {
    width: 145px;
  }
  .playListsv .playListvp img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .playListsv .playListvd {
    margin-left: 15px;
  }
  .playListsv .playListvd .playListst .sunny {
    display: inline-block;
  }
}

@media (min-width: 321px) and (max-width: 330px) {
  body {
    width: 330px;
  }
  #header {
    width: 100%;
    border-bottom: 1px solid #282828;
  }
  #header .headerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px 0px 10px 0px;
  }
  #header .headerWrapper .logoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header .headerWrapper .logoWrapper .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  #header .headerWrapper .logoWrapper .logo .youtubelogo {
    width: 40px;
  }
  #header .headerWrapper .logoWrapper .logo .youtubelogo img {
    width: 100%;
  }
  #header .headerWrapper .logoWrapper .logo .toutubetext h4 sup {
    font-size: 12px;
    font-weight: 300;
    color: #aeaeae;
  }
  #header .headerWrapper .logoWrapper .bar {
    width: 30px;
    padding: 9px;
    text-align: center;
  }
  #header .headerWrapper .logoWrapper .bar i {
    font-size: 18px;
    cursor: pointer;
  }
  .search .searchWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search .searchWrapper .searchInput {
    display: none;
  }
  .search .searchWrapper .searchIcon {
    width: 35px;
    text-align: center;
    padding: 8px;
    background: #282828;
    border-radius: 100%;
  }
  .search .searchWrapper .searchIcon:hover i {
    color: #888888;
  }
  .search .searchWrapper .searchIcon i {
    color: #626262;
  }
  .account .accountWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .account .accountWrapper .bell {
    width: 30px;
    padding: 7px;
  }
  .account .accountWrapper .bell i {
    font-size: 20px;
    cursor: pointer;
  }
  .account .accountWrapper .gmail {
    width: 40px;
    text-align: center;
  }
  .account .accountWrapper .gmail img {
    border-radius: 100%;
  }
  #allVideo {
    width: 100%;
  }
  #allVideo .allVideosWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0px;
  }
  .singleVideo {
    width: 300px;
    overflow: hidden;
    margin-left: 15px;
    margin-bottom: 40px;
  }
  .singleVideo .videoPoster img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .singleVideo .videoDC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .singleVideo .videoDC .videologo {
    width: 50px;
  }
  .singleVideo .videoDC .videologo img {
    border-radius: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .singleVideo .videoDC .videoTXT p {
    font-family: roboto;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .singleVideo .videoDC .videoTXT .channal {
    display: inline-block;
    margin-right: 5px;
    color: #5f5f5f;
    margin-bottom: 0px;
  }
  .singleVideo .videoDC .videoTXT span {
    font-family: roboto;
    font-size: 1rem;
    font-weight: 400;
    color: #5f5f5f;
  }
  #play-part {
    max-width: 100%;
  }
  #play-part .Videocontainer {
    width: 100%;
  }
  #play-part .Videocontainer video {
    max-width: 330px;
  }
  #play-part .Videocontainer .controler {
    max-width: 330px;
  }
  .playList {
    width: 100%;
    height: 435px;
    overflow: auto;
  }
  .playListsv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .playListsv .playListvp {
    width: 145px;
  }
  .playListsv .playListvp img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .playListsv .playListvd {
    margin-left: 15px;
  }
  .playListsv .playListvd .playListst .sunny {
    display: inline-block;
  }
}

@media (max-width: 320px) {
  body {
    width: 330px;
  }
  #header {
    width: 100%;
    border-bottom: 1px solid #282828;
  }
  #header .headerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px 0px 10px 0px;
  }
  #header .headerWrapper .logoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header .headerWrapper .logoWrapper .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  #header .headerWrapper .logoWrapper .logo .youtubelogo {
    width: 40px;
  }
  #header .headerWrapper .logoWrapper .logo .youtubelogo img {
    width: 100%;
  }
  #header .headerWrapper .logoWrapper .logo .toutubetext h4 sup {
    font-size: 12px;
    font-weight: 300;
    color: #aeaeae;
  }
  #header .headerWrapper .logoWrapper .bar {
    width: 30px;
    padding: 9px;
    text-align: center;
  }
  #header .headerWrapper .logoWrapper .bar i {
    font-size: 18px;
    cursor: pointer;
  }
  .search .searchWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search .searchWrapper .searchInput {
    display: none;
  }
  .search .searchWrapper .searchIcon {
    width: 35px;
    text-align: center;
    padding: 8px;
    background: #282828;
    border-radius: 100%;
  }
  .search .searchWrapper .searchIcon:hover i {
    color: #888888;
  }
  .search .searchWrapper .searchIcon i {
    color: #626262;
  }
  .account .accountWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .account .accountWrapper .bell {
    width: 30px;
    padding: 7px;
  }
  .account .accountWrapper .bell i {
    font-size: 20px;
    cursor: pointer;
  }
  .account .accountWrapper .gmail {
    width: 40px;
    text-align: center;
  }
  .account .accountWrapper .gmail img {
    border-radius: 100%;
  }
  #allVideo {
    width: 100%;
  }
  #allVideo .allVideosWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0px;
  }
  .singleVideo {
    width: 300px;
    overflow: hidden;
    margin-left: 15px;
    margin-bottom: 40px;
  }
  .singleVideo .videoPoster img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .singleVideo .videoDC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .singleVideo .videoDC .videologo {
    width: 50px;
  }
  .singleVideo .videoDC .videologo img {
    border-radius: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .singleVideo .videoDC .videoTXT p {
    font-family: roboto;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .singleVideo .videoDC .videoTXT .channal {
    display: inline-block;
    margin-right: 5px;
    color: #5f5f5f;
    margin-bottom: 0px;
  }
  .singleVideo .videoDC .videoTXT span {
    font-family: roboto;
    font-size: 1rem;
    font-weight: 400;
    color: #5f5f5f;
  }
  #play-part {
    max-width: 100%;
  }
  #play-part .Videocontainer {
    width: 100%;
  }
  #play-part .Videocontainer .controler {
    width: 100%;
  }
  #play-part .Videocontainer .controler .progressbar {
    max-width: 320px;
  }
  #play-part .Videocontainer video {
    max-width: 330px;
  }
  .playList {
    width: 100%;
    height: 435px;
    overflow: auto;
  }
  .playListsv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .playListsv .playListvp {
    width: 145px;
  }
  .playListsv .playListvp img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .playListsv .playListvd {
    margin-left: 15px;
  }
  .playListsv .playListvd .playListst .sunny {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */